
.title-type{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-weight: 800;
    font-size: 45px;
}
.father-of-nav{
    display: flex;
    justify-content: space-between;
}
header{
    margin-left: 100px;
    margin-right: 50px;
}
.ul-data {
    display: flex;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
}
.ul-data a{
    text-decoration: none;
    justify-content: end;
}
.juwel{
    color: #FD6E0A;
}
button{
    padding: 10px 20px ;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(244, 183, 61);
    color: black;
    font-weight: 800;
}
button:hover{
    background-color: rgb(14, 228, 39);
    color:rgb(221, 237, 237);
}